@import "vars.css";
@import "blocks/header.css";
@import "blocks/main.css";

html {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 96px;
  font-weight: 800;
}

h2 {
  font-size: 64px;
  font-weight: 900;
}