/*Vars for colors*/
:root {
  --black: #2D3436;
  --purple-dark: #6C5CE7;
  --yellow-light: #FFEAA7;
  --yellow-dark: #FDCB6E;
  --green-dark: #00B894;
  --purple-light: #A29BFE;
  --pink-dark: #E84393;
  --pink-light: #FF7675;
  --gray-light: #ADADAD;
  --white: #FFFFFF;
}
